.calc {
  width: 100dvw;
  height: 200px;
  object-fit: cover;
  margin: 0 calc(-50dvw + 50%);
}

.calcH2 {
  font-size: calc(2dvw + 2rem);
}

.clamp {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.min,
.max {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  padding: 1rem;
}

.min {
  width: min(400px, 50%);
}

.max {
  width: max(400px, 50%);
}

.abs {
  width: abs(20% - 100px);
  padding: 1rem;
  background-color: lightblue;
}

.support {
  background-color: lightblue;
}
